.gallery{
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    row-gap: 2rem;
    width: 80%;
    margin: auto;
}

.element{
    max-width: 450px;
    min-width: 300px;
}

.course-title{
    background:#424242;
    color:#fff; 
    font-size:15pt; 
    font-weight:bolder; 
    padding: 5px 0 5px 1rem;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.line{
    height:2px;
    border-width:0;
    color:#1b1b1b;
    background-color:#1b1b1b;
    margin: 0px !important;
}