.row{
    display: flex;
    flex-direction: row;
    padding:2rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

/*.row:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 15px 5px #babdbe; 
    box-shadow: 5px 5px 15px 5px #babdbe;
}*/

.col{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    width: 50%;
}

.grade-list{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.expandable{
    cursor: pointer;
}

.expandable:hover{
    background: #babdbe;
}
