.nav-bar{
    height: 66px;
    background: #6d6d6d;
    color: white;
}

.content-wrapper{
    padding: 3rem 10px 2rem 10px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.content-wrapper>*{
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    height: 100%;
    font-weight: bold;
}

.menu > *{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 8px;
    padding: 0 1rem 0 1rem;
}

.menu > *:hover{
    background: #424242 !important;
    color: white !important;
}

#logout{
    order: 10;
}

#logout:hover{
    background: rgb(187, 0, 37) !important;
    color: white !important;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 2rem;
    gap: 2rem;
    width: 100%;
    background: #6d6d6d;
    color: white;
    clear: both;
    position: relative;
    height: 15em;
    font-weight: bold;
    margin-top: calc(2em + 1px);
}

footer >*{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.grid-ish{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}