.course-container{
    margin: 1rem 0 1rem 1rem;
}

.flex-col{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.flex-row{
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.instructor-list{
    list-style: none;
    padding: 2rem
}

.instructor-list li{
    background: peachpuff;
}

.border-thin{
    border: #ccc 1px solid;
}

.course-header{
    background: #eceff1;
    padding: 10px;
    align-items: center;
}

.course-header *{
    margin: 0px;
}

.line-below{
    border-bottom: 2px black solid;
    max-width: 60%;
    margin-bottom: 5px;
}

.description{
    max-width: 60%;
}

.course-list-grades{
    width: 100%;
    padding-right: 2rem;
}

.join-button{
    font-size: 15pt;
    min-width: 12rem;
}

.instructor-wrapper{
    padding: 1rem;
    background: #eceff1;
}