.bell-dot{
    right: 10px;
    bottom: 10px;
    width: 23px;
    height: 23px;
    font-size: 10px;
    position: absolute;
}

.dot {
    
    border-radius: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 101%;
    left:-2px !important;
    background-color: #424242;
    color: white;
    min-width: 400px;
    z-index: 10;
    max-height: 70vh;
    overflow-y: scroll;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.notification{
    padding: 1rem;
    margin: "auto";
    min-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.notification:hover{
    background: #6d6d6d;
}