.row{
    display: flex;
    flex-direction: row;
    padding:2rem;
    align-items: center;
    gap: 1em;
    background: #eceff1;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    width: 50%;
}

.grade-list{
    flex-direction: column;
    
}

.expandable{
    cursor: pointer;
}

.expandable:hover{
    background: #babdbe;
}
