.row{
    display: flex;
    flex-direction: row;
    padding: 1em;
    border: 2px solid #222;

    align-items: center;

    gap: 1em
}

.col{
    display: flex;
    flex-direction: column;
}

.grade-list{
    list-style: none;
}