.prog-bar{
    position: relative;
    height: 2rem;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #333;
    overflow: hidden;
}

@keyframes prog {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.filler{
    position: absolute;
    height: 100%;
    border-radius: inherit;
    animation: 1.5s ease-in-out 0s 1 prog;
}

.threshold{
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 4px;
    border-left: 1px solid #fff;
    background: #444;
}